<a href="https://colab.research.google.com/github/LathaAlagar/latha2809/blob/main/23BIT050_Data_Preprocessing_Challenge_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark kagglehub

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: kagglehub in /usr/local/lib/python3.12/dist-packages (0.3.13)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2025.10.5)

In [3]:
import kagglehub
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean, when, count, isnan
from pyspark.ml.feature import VectorAssembler, StandardScaler

# Download latest version of dataset
path = kagglehub.dataset_download("mlg-ulb/creditcardfraud")
print("üìÅ Path to dataset files:", path)

Using Colab cache for faster access to the 'creditcardfraud' dataset.
üìÅ Path to dataset files: /kaggle/input/creditcardfraud

In [4]:
spark = SparkSession.builder \
    .appName("DataPreprocessingChallenge") \
    .getOrCreate()

print("‚úÖ Spark session created successfully!")

‚úÖ Spark session created successfully!

In [5]:
# Read CSV file
file_path = f"{path}/creditcard.csv"  # Kaggle dataset file name
data = spark.read.csv(file_path, header=True, inferSchema=True)

print("‚úÖ Dataset loaded successfully.")
data.printSchema()
data.show(5)

‚úÖ Dataset loaded successfully.
root
 |-- Time: double (nullable = true)
 |-- V1: double (nullable = true)
 |-- V2: double (nullable = true)
 |-- V3: double (nullable = true)
 |-- V4: double (nullable = true)
 |-- V5: double (nullable = true)
 |-- V6: double (nullable = true)
 |-- V7: double (nullable = true)
 |-- V8: double (nullable = true)
 |-- V9: double (nullable = true)
 |-- V10: double (nullable = true)
 |-- V11: double (nullable = true)
 |-- V12: double (nullable = true)
 |-- V13: double (nullable = true)
 |-- V14: double (nullable = true)
 |-- V15: double (nullable = true)
 |-- V16: double (nullable = true)
 |-- V17: double (nullable = true)
 |-- V18: double (nullable = true)
 |-- V19: double (nullable = true)
 |-- V20: double (nullable = true)
 |-- V21: double (nullable = true)
 |-- V22: double (nullable = true)
 |-- V23: double (nullable = true)
 |-- V24: double (nullable = true)
 |-- V25: double (nullable = true)
 |-- V26: double (nullable = true)
 |-- V27: double (nullable = true)
 |-- V28: double (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Class: integer (nullable = true)

+----+------------------+-------------------+----------------+------------------+-------------------+-------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------+-----+
|Time|                V1|                 V2|              V3|                V4|                 V5|                 V6|                 V7|                V8|                V9|                V10|               V11|               V12|               V13|               V14|               V15|               V16|               V17|                V18|               V19|                V20|                 V21|                V22|               V23|               V24|               V25|               V26|                 V27|                V28|Amount|Class|
+----+------------------+-------------------+----------------+------------------+-------------------+-------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------+-----+
| 0.0|  -1.3598071336738|-0.0727811733098497|2.53634673796914|  1.37815522427443| -0.338320769942518|  0.462387777762292|  0.239598554061257|0.0986979012610507| 0.363786969611213| 0.0907941719789316|-0.551599533260813|-0.617800855762348|-0.991389847235408|-0.311169353699879|  1.46817697209427|-0.470400525259478| 0.207971241929242| 0.0257905801985591| 0.403992960255733|  0.251412098239705|  -0.018306777944153|  0.277837575558899|-0.110473910188767|0.0669280749146731| 0.128539358273528|-0.189114843888824|   0.133558376740387|-0.0210530534538215|149.62|    0|
| 0.0|  1.19185711131486|   0.26615071205963|0.16648011335321| 0.448154078460911| 0.0600176492822243|-0.0823608088155687|-0.0788029833323113|0.0851016549148104|-0.255425128109186| -0.166974414004614|  1.61272666105479|  1.06523531137287|  0.48909501589608|-0.143772296441519| 0.635558093258208| 0.463917041022171|-0.114804663102346| -0.183361270123994|-0.145783041325259|-0.0690831352230203|  -0.225775248033138| -0.638671952771851| 0.101288021253234|-0.339846475529127| 0.167170404418143| 0.125894532368176|-0.00898309914322813| 0.0147241691924927|  2.69|    0|
| 1.0| -1.35835406159823|  -1.34016307473609|1.77320934263119| 0.379779593034328| -0.503198133318193|   1.80049938079263|  0.791460956450422| 0.247675786588991| -1.51465432260583|  0.207642865216696| 0.624501459424895| 0.066083685268831| 0.717292731410831|-0.165945922763554|  2.34586494901581| -2.89008319444231|  1.10996937869599| -0.121359313195888| -2.26185709530414|  0.524979725224404|   0.247998153469754|  0.771679401917229| 0.909412262347719|-0.689280956490685|-0.327641833735251|-0.139096571514147| -0.0553527940384261|-0.0597518405929204|378.66|    0|
| 1.0|-0.966271711572087| -0.185226008082898|1.79299333957872|-0.863291275036453|-0.0103088796030823|   1.24720316752486|   0.23760893977178| 0.377435874652262| -1.38702406270197|-0.0549519224713749|-0.226487263835401| 0.178228225877303| 0.507756869957169| -0.28792374549456|-0.631418117709045|  -1.0596472454325|-0.684092786345479|   1.96577500349538|  -1.2326219700892| -0.208037781160366|  -0.108300452035545|0.00527359678253453|-0.190320518742841| -1.17557533186321| 0.647376034602038|-0.221928844458407|  0.0627228487293033| 0.0614576285006353| 123.5|    0|
| 2.0| -1.15823309349523|  0.877736754848451|  1.548717846511| 0.403033933955121| -0.407193377311653| 0.0959214624684256|  0.592940745385545|-0.270532677192282| 0.817739308235294|  0.753074431976354|-0.822842877946363|  0.53819555014995|   1.3458515932154| -1.11966983471731| 0.175121130008994|-0.451449182813529|-0.237033239362776|-0.0381947870352842| 0.803486924960175|  0.408542360392758|-0.00943069713232919|   0.79827849458971|-0.137458079619063| 0.141266983824769|-0.206009587619756| 0.502292224181569|   0.219422229513348|  0.215153147499206| 69.99|    0|
+----+------------------+-------------------+----------------+------------------+-------------------+-------------------+-------------------+------------------+------------------+-------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+--------------------+-------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------+-----+
only showing top 5 rows

In [6]:
# Count missing values
missing_counts = data.select([count(when(col(c).isNull() | isnan(c), c)).alias(c) for c in data.columns])
print("üîç Missing value count per column:")
missing_counts.show()

# Fill missing numeric columns with mean
numeric_cols = [c for c, t in data.dtypes if t in ['double', 'int']]
for column in numeric_cols:
    mean_value = data.select(mean(col(column))).collect()[0][0]
    data = data.fillna({column: mean_value})

# Fill missing categorical columns (if any)
categorical_cols = [c for c, t in data.dtypes if t == 'string']
for column in categorical_cols:
    data = data.fillna({column: 'Unknown'})

print("‚úÖ Missing values handled.")

üîç Missing value count per column:
+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+------+-----+
|Time| V1| V2| V3| V4| V5| V6| V7| V8| V9|V10|V11|V12|V13|V14|V15|V16|V17|V18|V19|V20|V21|V22|V23|V24|V25|V26|V27|V28|Amount|Class|
+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+------+-----+
|   0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|     0|    0|
+----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+------+-----+

‚úÖ Missing values handled.

In [7]:
for column in numeric_cols:
    data = data.withColumn(column, col(column).cast("double"))

data.printSchema()
print("‚úÖ Data types standardized.")

root
 |-- Time: double (nullable = false)
 |-- V1: double (nullable = false)
 |-- V2: double (nullable = false)
 |-- V3: double (nullable = false)
 |-- V4: double (nullable = false)
 |-- V5: double (nullable = false)
 |-- V6: double (nullable = false)
 |-- V7: double (nullable = false)
 |-- V8: double (nullable = false)
 |-- V9: double (nullable = false)
 |-- V10: double (nullable = false)
 |-- V11: double (nullable = false)
 |-- V12: double (nullable = false)
 |-- V13: double (nullable = false)
 |-- V14: double (nullable = false)
 |-- V15: double (nullable = false)
 |-- V16: double (nullable = false)
 |-- V17: double (nullable = false)
 |-- V18: double (nullable = false)
 |-- V19: double (nullable = false)
 |-- V20: double (nullable = false)
 |-- V21: double (nullable = false)
 |-- V22: double (nullable = false)
 |-- V23: double (nullable = false)
 |-- V24: double (nullable = false)
 |-- V25: double (nullable = false)
 |-- V26: double (nullable = false)
 |-- V27: double (nullable = false)
 |-- V28: double (nullable = false)
 |-- Amount: double (nullable = false)
 |-- Class: double (nullable = true)

‚úÖ Data types standardized.

In [8]:
before = data.count()
data = data.dropDuplicates()
after = data.count()

print(f"üßπ Removed {before - after} duplicate rows.")

üßπ Removed 1081 duplicate rows.

In [9]:
# Assemble all numeric columns into a single feature vector
assembler = VectorAssembler(
    inputCols=[c for c in data.columns if c not in ['Time', 'Class']],
    outputCol="features"
)
assembled = assembler.transform(data)

# Apply StandardScaler
scaler = StandardScaler(inputCol="features", outputCol="scaled_features", withMean=True, withStd=True)
scaler_model = scaler.fit(assembled)
scaled_data = scaler_model.transform(assembled)

print("‚úÖ Data normalization completed.")
scaled_data.select("scaled_features").show(5, truncate=False)

‚úÖ Data normalization completed.
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|scaled_features                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[-0.21570858365194726,0.5523595317445807,1.1439388291758237,1.0440208340702093,0.004077812126977817,-0.1495507276921655,0.6014900579842388,-0.024081116846253747,-0.5402098414432607,-0.3202760746142579,-0.012117111950366074,0.7917274918509201,0.6382676223779714,-0.09092146318287064,0.08280836851242122,-1.6104924583373068,0.9203736968877704,-1.1278116022007503,0.669102625262371,0.12613299158904948,0.10720682819536832,0.6312129355291355,-0.06204545089902816,1.0605670091784694,-0.35236337186040373,-0.5758982822653183,0.4571756218871159,0.4637347424776012,-0.22153678917955774]     |
|[-0.4966178361361749,0.45392893175060806,0.776816293072499,-0.15530308549867672,0.5364532313723509,1.3071989546436282,0.25349946163774995,0.5939278143863637,0.3252526370915122,-0.30826688451178463,-0.5558711801269588,-0.4100926827211682,-1.5197590040632092,0.11137857382282047,0.959177981690558,-1.6917794495350917,1.3461639021219487,-2.561422103079501,-1.2067368912883665,0.00738925122491875,-0.2106495055832722,-0.016501285885661514,-0.0634791450369314,-2.4844583632993573,-0.4758366781378518,0.852896199942353,1.2522044965084531,0.6309003645534972,-0.24557837676993488]           |
|[-0.5747861464453936,0.073791577684821,1.38448453591819,0.33680631476552864,0.3540659689286962,-0.7452740660172891,0.02960054373901059,0.12408911195922513,-0.7756250973136737,-0.17774310331301268,1.3834287567089802,0.24746831871313263,-0.8163136592591743,0.6601125037846632,0.7476009380087243,0.09935763194310322,-0.26481613379496055,0.35328456667941815,1.2257169665717382,0.34080180279066774,-0.10309587197402913,-0.8124654770871163,0.07065535766886137,0.8344722967056021,-0.022986924244705394,0.4159109911722092,-0.035528279937029915,0.24143410816279434,-0.2974554901916956]       |
|[0.6564053400800325,0.1865591103829181,-0.04608122248708383,0.6602045403114104,0.08392072574510073,-0.36478291357986203,0.16530459643377945,-0.1475912220873677,0.05464805296131167,0.01570525317228573,-1.144076867818877,-0.15591299449813698,0.018339839061002363,0.3845158429584961,1.0876458845890888,0.3429207721676152,-0.8589132586791189,0.16478344735626713,-0.06941944795671764,-0.13688293021539427,-0.03163588336082422,-0.059821178304241565,-0.33653766648032835,-0.736931905051602,1.519468051383995,-0.574876448333613,0.020759624254481045,0.038779195051758746,-0.29721587303963204]|
|[-0.503018107782186,0.49415435592047874,1.0169472857150084,-0.47026686970718057,0.2806110232014336,-0.47240189687375805,0.44846153330735294,0.10002495948405152,-0.3609188369114055,-0.22053742457375275,0.7631798758832897,0.08407785269361355,-0.9507439815490346,0.4508550807376596,-0.15513331169361164,0.8943818970469265,-1.168267962821945,0.3212635786170882,-0.31309662795073434,-0.08219365026367774,-0.2708520722900238,-0.9054860264318775,-0.23092895700626886,-0.06742644086220527,-0.25306616253034975,-0.09409046361589972,0.4094458629773074,0.42150670496060855,-0.32824629423186297]|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [10]:
from pyspark.sql.functions import floor

# Create hour of transaction
scaled_data = scaled_data.withColumn("Transaction_Hour", floor(col("Time") / 3600))

# Create transaction category
scaled_data = scaled_data.withColumn(
    "Amount_Category",
    when(col("Amount") < 10, "Low") \
    .when(col("Amount") < 100, "Medium") \
    .otherwise("High")
)

scaled_data.select("Time", "Transaction_Hour", "Amount", "Amount_Category").show(5)
print("‚úÖ Feature engineering completed.")

+------+----------------+------+---------------+
|  Time|Transaction_Hour|Amount|Amount_Category|
+------+----------------+------+---------------+
|  23.0|               0|  33.0|         Medium|
| 231.0|               0| 26.98|         Medium|
| 462.0|               0| 13.99|         Medium|
| 751.0|               0| 14.05|         Medium|
|1253.0|               0|  6.28|            Low|
+------+----------------+------+---------------+
only showing top 5 rows

‚úÖ Feature engineering completed.

In [12]:
# Drop complex vector columns before saving
clean_data = scaled_data.drop("features", "scaled_features")

# Define output path
output_path = "/content/cleaned_creditcard_data.csv"

# Save as CSV
clean_data.write.csv(output_path, header=True, mode="overwrite")

print(f"‚úÖ Cleaned dataset saved successfully at: {output_path}")

‚úÖ Cleaned dataset saved successfully at: /content/cleaned_creditcard_data.csv

In [15]:
print("üìä Data Preprocessing Summary")
print("- Missing values handled (numeric: mean, categorical: 'Unknown')")
print("- Data types standardized to double")
print("- Duplicates removed")
print("- Features normalized using StandardScaler")
print("- Engineered features: Transaction_Hour, Amount_Category")
print("‚úÖ Dataset ready for downstream analytics or ML tasks.")

üìä Data Preprocessing Summary
- Missing values handled (numeric: mean, categorical: 'Unknown')
- Data types standardized to double
- Duplicates removed
- Features normalized using StandardScaler
- Engineered features: Transaction_Hour, Amount_Category
‚úÖ Dataset ready for downstream analytics or ML tasks.